footer {
  margin-top: auto;
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #3c3c3c;
}

.foot {
  text-align: center;
}
.icons {
  & img {
    width: 30px;
  }
}
.footer_absolute {
  position: absolute;
  bottom: 0;
  width: 100%;
  & footer {
    height: 20vh !important;
  }
}
.our_logo{
  display: flex;
  justify-content: center;
  align-items: center;
  background: red;
  width: 100%;
  letter-spacing: 1px;
  padding: 6px;
  font-size: 1rem;
 
  color: #C2C2C2;
}
.our_logo img{
  width: 22px;
}



@media only screen and (max-width: 1140px) {
  footer {
    height: 20vh;
  }
}
