* {
  box-sizing: border-box;
}
html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
a,
address,
cite,
code,
em,
img,
strong,
sub,
sup,
b,
u,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary,
time {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
body {
  line-height: 1;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
input,
button {
  border: none;
  outline: none;
  background: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #e5e5e5;
}
a,
p {
  color: #b3b3b3 !important;
}
body *,
a {
  font-family: "Helvetica", sans-serif;
  transition: 0.4s;
}
